<h2>{{t 'admin.codeproject.title'}}</h2>

<br>

<div class="all-project-status">
  {{#if isLoading }}
    {{we-loading isLoading=isLoading textDone="" textLoading="Loading..."}}
  {{else}}
    <pre>{{projectsStatus}}</pre>
  {{/if}}

  <div>
  <button {{action 'triggetLoadAllProjectStatus'}} class="btn btn-default btn-sm">reload status</button>
  </div>
</div>

<br>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Folder</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each record in data.codeproject}}
      <tr>
        <th>
          {{#link-to 'codeProject' record.name}}
            {{record.name}}
          {{/link-to}}
        </th>
        <td>
          {{record.folder}}
        </td>
        <td>
          {{record.description}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

